@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPHatton";
  src: url("/fonts/PPHatton/PPHatton-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PPHatton";
  src: url("/fonts/PPHatton/PPHatton-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PPHatton";
  src: url("/fonts/PPHatton/PPHatton-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPHatton";
  src: url("/fonts/PPHatton/PPHatton-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PPHatton";
  src: url("/fonts/PPHatton/PPHatton-UltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPHatton";
  src: url("/fonts/PPHatton/PPHatton-UltraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

:root {
  --main-color: #888aff;
  --primary-color: #6bcbb8;
  --secondary-color: #005d63;
  --tertiary-color: #ff8958;
  --background-color: #f7f4e7;
  --soft-gray: #f7f4e7;
  --light: #fff;
  --font-XXL: 3rem;
  --font-XL: 2rem;
  --font-L: 1.5rem;
  --font-M: 1rem;
  --font-ML: 1.25rem;
  --font-MS: 0.875rem;
  --font-MSS: 0.8rem;
  --font-S: 0.7rem;
  --font-dmSans: "DM Sans", sans-serif;
  --font-ppHatton: var(--font-ppHatton);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--light);
  font-family: var(--font-nunitoSans);
  z-index: 0;
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  padding-bottom: 20px;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a,
:visited {
  text-decoration: none;
  color: inherit;
}

&::-webkit-scrollbar {
  width: 8px;
}

&::-webkit-scrollbar-track {
  background: var(--background-color);
}

&::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 3px solid black;
}

&::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
